.ul1 {
    list-style-type: none;
    margin: 18px;
    padding: 2px;
    overflow: hidden;
    background-color: #f3f3f3;
    border: 2px solid #000000;
    color:#000000;
    width :117%;
    margin-left: -107px;
    height: 50px;
   
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(21, 20, 20);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
  }
  
  li a:hover {
    background-color: #ddd;
  }
  
  li a.active {
    color: white;
   
  }

 
  .logoh{
    position: absolute;
    top: -15px;
    width:15%;
    left:15px;
    height:30%; 
  }
  .button2 {
    position: absolute;
    top: 1%;
    right: -50%;
    width:20px;
    text-align: right;
   }